# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# ===============================
# Virtual environments
# ===============================
.venv/
venv/

# ===============================
# Build / PyInstaller
# ===============================
build/
dist/
*.spec

# ===============================
# App runtime outputs
# (las carpetas DEBEN existir para PyInstaller)
# ===============================

# Ignorar contenido generado
exports/*
reports/*

# PERO conservar las carpetas en el repo
!exports/.gitkeep
!reports/.gitkeep

# ===============================
# OS junk
# ===============================
.DS_Store
Thumbs.db
