# -------------------------
# Python / cache
# -------------------------
__pycache__/
*.py[cod]
*.pyd
*.log

# -------------------------
# Virtual envs
# -------------------------
.venv/
venv/

# -------------------------
# Build outputs (PyInstaller)
# -------------------------
build/
dist/
*.spec

# -------------------------
# Runtime folders (keep the folder, ignore content)
# -------------------------
exports/*
reports/*
!exports/.gitkeep
!reports/.gitkeep

# -------------------------
# OS junk
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# VS Code
# -------------------------
.vscode/
